* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

button {
    outline: none;
}

.app {
    background: white;
    width: 75%;
    height: 75%;
    display: grid;
    grid-auto-columns: auto;
    grid-template-rows: 50% 50%;
    border: 2px solid #ec4646;
    border-radius: 20px;
}

.question {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Londrina Solid', cursive;
    font-size: 40px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons button {
    font-size: 16px;
    margin: 20px;
    padding: 20px 50px;
    border-radius: 5px;
    color: white;
    background: #ec4646;
    border: 3px solid #ec8181;
}

.buttons button:active{
    transform: scale(1.1);
}


footer{
    position: absolute;
    bottom: 0;
}